<html>
<head>

</head>
<body style="background: #fff;">
<h2>系统说明</h2>
<h3> 推送统计分析系统 </h3><br/>

<p>PS:主要用于推送统计数据，支持多种推送形式，,近时时处理消息队列数据，处理方式全部可配，支持断点，主要功能点如下：</p>

<h4>一、 后台管理</h4>
<p>1. 可以配置如下信息:推送地址，推送类型，来源类型（普文件文件、hadoop），来源地址，推送周期（定时的有时间），监控，报警，日志，创建时间，修改时间(按照修改时间倒序排序)。</p>
<p>2. 根据条件搜索：推送地址(模糊搜索)，ID，推送类型，推送周期，推送状态。</p>
<p>3. 选择配置信息，可以推送或停止推送。</p>
<p>4. HTTP推送 文件，按行读取文件，每行推送，一行推送失败，继续推送三次，三次都失败，本次推送失败。</p>
</body>
</html>