<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>接口表单</title>
    <link rel="stylesheet" href="/static/js/layuiadmin/layui/css/layui.css" media="all">
    <style rel="stylesheet" type="text/css">
        .layui-form-label {
            width: 120px;
        }

        .layui-input-inline {
            width: 300px !important;
        }

        .kv-input {
            width: 46%;
            display: inline !important;
        }

        .kv-input.left {
            margin-right: 7px;
        }

        .kv-input.right {
            margin-left: 8px;
        }
    </style>
</head>
<body>

<div class="layui-form"
     lay-filter="layuiadmin-app-form-list"
     id="layuiadmin-app-form-list"
     style="padding: 20px 30px 0 0;">

    <input type="hidden" name="id" value="${receiveApi.id!}" id="id">
    <div class="layui-form-item">
        <label class="layui-form-label">接口说明</label>
        <div class="layui-input-inline">
            <input type="text" name="description" value="${receiveApi.description!}" lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接口地址</label>
        <div class="layui-input-inline">
            <input type="text" name="uri" value="${receiveApi.uri!}"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">消息处理器</label>
        <div class="layui-input-inline">
            <input type="text" name="handler" value="${receiveApi.handler!}" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">kafka服务地址</label>
        <div class="layui-input-inline">
            <input type="text" name="kafkaServer" value="${receiveApi.kafkaServer!}" lay-verify="required"
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">topic</label>
        <div class="layui-input-inline">
            <input type="text" name="topic" value="${receiveApi.topic!}" lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">groupid</label>
        <div class="layui-input-inline">
            <input type="text" name="groupid" value="${receiveApi.groupid!}" lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <input type="hidden" name="returnSuccess" value='${receiveApi.returnSuccess!}' id="returnSuccess" />
    <input type="hidden" name="returnError" value='${receiveApi.returnError!}' id="returnError" />

    <div class="layui-form-item">
        <label class="layui-form-label">成功返回值</label>
        <div class="layui-input-inline" id="layui-input-inline1" style="wi">
            <input type="text" class="layui-input kv-input left" name="sk">=<input type="text"
                                                                                   class="layui-input kv-input right"
                                                                                   name="sv">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">失败返回值</label>
        <div class="layui-input-inline">
            <div class="layui-input-inline" id="layui-input-inline2" style="wi">
                <input type="text" class="layui-input kv-input left" name="ek">=<input type="text"
                                                                                       class="layui-input kv-input right"
                                                                                       name="ev">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否开启消费</label>
        <div class="layui-input-inline">
            <input type="checkbox" lay-verify="required"
                   lay-filter="status" name="start"
                   lay-skin="switch"
                   lay-text="开启|关闭"
                   value="true"
                   ${ has(receiveApi) && receiveApi.start ? "checked" : ""} >
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit"
               value="确认">
    </div>
</div>

<script src="/static/js/layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>

    layui.config({
        base: '/static/js/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$, form = layui.form;
        var success = $('#returnSuccess').val();
        var error = $('#returnError').val();
        if (success && success.trim().length > 0) {
            var o = $.parseJSON(success);
            var r = "";
            for (var k in o) {
                var sk = '<input type="text" class="layui-input kv-input left" name="sk" value="' + k + '">';
                var sv = '<input type="text" class="layui-input kv-input right" name="sv" value="' + o[k] + '">';
                r += sk + "=" + sv;
            }
            $('#layui-input-inline1').html(r);
        }

        if (error && error.trim().length > 0) {
            var o = $.parseJSON(error);
            var r = "";
            for (var k in o) {
                var ek = '<input type="text" class="layui-input kv-input left" name="ek" value="' + k + '">';
                var ev = '<input type="text" class="layui-input kv-input right" name="ev" value="' + o[k] + '">';
                r += ek + "=" + ev;
            }
            $('#layui-input-inline2').html(r);
        }

        //监听提交
        form.on('submit(layuiadmin-app-form-submit)', function (data) {
            var field = data.field; //获取提交的字段
            if (field.sk && field.sv) {
                var obj1 = {};
                obj1[field.sk.trim()] = field.sv.trim();
                field.returnSuccess = JSON.stringify(obj1)
            }
            if (field.ek && field.ev) {
                var obj2 = {};
                obj2[field.ek.trim()] = field.ev.trim();
                field.returnError = JSON.stringify(obj2)
            }
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            $.ajax({
                type: 'post',
                data: field,
                dataType: 'json',
                url: '/manage/receive/api/saveOrUpdate',
                success: function (result) {
                    if (result.state) {
                        //登入成功的提示与跳转
                        layer.msg('操作成功', {
                            offset: '15px'
                            , icon: 1
                            , time: 500
                        }, function () {
                            parent.layui.table.reload('LAY-app-content-list'); //重载表格
                            parent.layer.close(index); //再执行关闭
                        });
                    } else {
                        layer.msg(result.msg ? result.msg : "", {
                            offset: '15px'
                            , icon: 2
                            , time: 1000
                        });
                    }
                }, error: function (e) {
                    layer.msg("操作失败", {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                    });
                }
            });
        });
    })
</script>
</body>
</html>