<div style="padding: 10px 10px 10px 10px">
	<form id="pushinfoEditFrom" method="post">
		<table cellpadding="5" >
		<input id="pid" type="hidden" name="id"></input>
            <tr>
                <td>推送名称</td>
                <td><input class="easyui-textbox" type="text" name="pushName"
                           data-options="required:true" style="width: 300px;"></input></td>
            </tr>
            <tr>
                <td>推送类型</td>
                <td><input type="radio" name="pushType" checked="checked" value="1"
                           data-options="required:true"/>HTTP<input type="radio"
                                                                    name="pushType" value="2" data-options="required:true"/>Kafka<input type="radio"
                                                                                                                                        name="pushType" value="3" data-options="required:true"/>
                    MQ消息队列<input type="radio" name="pushType" value="4" data-options="required:true"/>TCP
                </td>
            </tr>

			<tr>
				<td>HTTP推送地址</td>
				<td><input class="easyui-textbox" type="text" name="pushAddr"
					data-options="required:true" style="width: 300px;"></input></td>
			</tr>

			<tr>
				<td>推送周期类型</td>
				<td><input type="radio" name="cycleType" checked="checked"  value="1" data-options="required:true"/>
                    实时推送
                 </td>
			</tr>


            <tr>
                <td>来源类型</td>
                <td><input type="radio" name="sourceType"  value="1" data-options="required:true" onclick="changeSourceAddr(1)"/>
                    普通文件<input type="radio" name="sourceType" checked="checked"  value="2" data-options="required:true" onclick="changeSourceAddr(2)"/>Hadoop
                    <input type="radio" name="sourceType" value="3" data-options="required:true" onclick="changeSourceAddr(3)"/>KAFKA
                </td>
            </tr>
            <tr id="pushsourceaddr">
                <td>来源地址</td>
                <td><input id="pushsourceaddrid" class="easyui-textbox" type="text" name="sourceInfo"
                           data-options="prompt:'格式:hdfs://172.16.213.130:9000/pushtest或E:\\test',required:true" style="width: 300px;"></input></td>
            </tr>
            <tr id="kafkaSource" style="display: none">
            <td>KAFKA来源</td>
            <td> <input id="sourceKafkaInfoid" class="easyui-textbox" type="text" name="sourceKafkaInfo"
                        data-options="prompt:'格式:192.168.98.44:9092,topic,groupid',required:false" style="width: 300px;"/>
            </td>
            </tr>
           <!-- <tr id="kafkaSource1" style="display: none">
                <td>KAFKA来源</td>
                <td> <input id="pushkafkainfocomboboxid1" class="easyui-combobox" name="sourceKafkaId1"
                            data-options="required:true,valueField:'id',textField:'kafkaName',method:'get',url:'/kafkainfo/findall'" style="width: 280px;" /></td>
            </tr>-->

			<tr>
				<td>日志记录</td>
				<td><input type="radio" name="log" checked="checked" value="1"
					data-options="required:true"/>需要<input type="radio"
					name="log" value="0" data-options="required:true"/>不需要
				</td>
			</tr>
			<tr>
                <td>报警</td>
                <td><input type="radio" name="alarm" checked="checked" value="1"
                    data-options="required:true"/>需要<input type="radio"
                    name="alarm" value="0" data-options="required:true"/>不需要
                </td>
            </tr>
            <tr>
                <td>跳过错误</td>
                <td><input type="radio" name="skipError" checked="checked" value="1"
                           data-options="required:true"/>是<input type="radio"
                                                                  name="skipError" value="0" data-options="required:true"/>否
                </td>
            </tr>
		</table>

	</form>
	<div style="padding: 5px">
		<a href="javascript:void(0)" class="easyui-linkbutton"
		   onclick="submitForm()"><span id="titleresult">增加</span></a>

        <a href="javascript:void(0)" class="easyui-linkbutton"
           onclick="cancelFrom()"><span>取消</span></a>

	</div>

</div>

